@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kroxrx');
  src:  url('fonts/icomoon.eot?kroxrx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kroxrx') format('truetype'),
    url('fonts/icomoon.woff?kroxrx') format('woff'),
    url('fonts/icomoon.svg?kroxrx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share-sc:before {
  content: "\e940";
}
.icon-datetime:before {
  content: "\e93f";
}
.icon-podcast:before {
  content: "\e93e";
}
.icon-yas-gruplari:before {
  content: "\e93a";
}
.icon-anksiyete:before {
  content: "\e93b";
}
.icon-testing:before {
  content: "\e93c";
}
.icon-quick-menu:before {
  content: "\e93d";
}
.icon-twitter-fill:before {
  content: "\e939";
}
.icon-linkedin-fill:before {
  content: "\e934";
}
.icon-facebook-fill:before {
  content: "\e935";
}
.icon-youtube-fill:before {
  content: "\e938";
}
.icon-pinterest-fill:before {
  content: "\e936";
}
.icon-instagram-fill:before {
  content: "\e937";
}
.icon-user-outline:before {
  content: "\e932";
}
.icon-article:before {
  content: "\e933";
}
.icon-arrow-long-right:before {
  content: "\e91c";
}
.icon-books:before {
  content: "\e91d";
}
.icon-check:before {
  content: "\e91f";
}
.icon-cross:before {
  content: "\e920";
}
.icon-cross-fill:before {
  content: "\e921";
}
.icon-facebook:before {
  content: "\e922";
}
.icon-info-fill:before {
  content: "\e923";
}
.icon-instagram:before {
  content: "\e924";
}
.icon-left-arrow:before {
  content: "\e925";
}
.icon-login:before {
  content: "\e926";
}
.icon-logout:before {
  content: "\e927";
}
.icon-minus:before {
  content: "\e928";
}
.icon-pinterest:before {
  content: "\e929";
}
.icon-plus:before {
  content: "\e92a";
}
.icon-question:before {
  content: "\e92b";
}
.icon-request:before {
  content: "\e92c";
}
.icon-right-arrow:before {
  content: "\e92d";
}
.icon-settings:before {
  content: "\e92e";
}
.icon-tiktok:before {
  content: "\e92f";
}
.icon-tumblr:before {
  content: "\e930";
}
.icon-upload:before {
  content: "\e931";
}
.icon-fax:before {
  content: "\e91e";
}
.icon-whatsapp-fill:before {
  content: "\e91b";
}
.icon-document:before {
  content: "\e91a";
}
.icon-whatsapp:before {
  content: "\e919";
}
.icon-link:before {
  content: "\e918";
}
.icon-twitter:before {
  content: "\e917";
}
.icon-filter:before {
  content: "\e916";
}
.icon-pdf-filled:before {
  content: "\e915";
}
.icon-pdf:before {
  content: "\e913";
}
.icon-compare:before {
  content: "\e914";
}
.icon-play:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e911";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-large:before {
  content: "\e901";
}
.icon-arrow-long:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-email:before {
  content: "\e905";
}
.icon-favorite:before {
  content: "\e906";
}
.icon-gallery:before {
  content: "\e907";
}
.icon-headset:before {
  content: "\e908";
}
.icon-info:before {
  content: "\e909";
}
.icon-language:before {
  content: "\e90a";
}
.icon-linkedin:before {
  content: "\e90b";
}
.icon-location:before {
  content: "\e90c";
}
.icon-magnify:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-share:before {
  content: "\e90f";
}
.icon-youtube:before {
  content: "\e910";
}
