.dropdown {
  .dropdown-button {
    display: flex;
    align-items: center;
    font-size: "GilroyMedium";
    font-size: 14px;
    height: 48px;
    width: 250px;
    background-color: var(--secondary);
    border-radius: 6px;
    padding: 0 24px;
  }
}

.chooseTitle {
  position: relative;
  .customSelect {
    border: none;
    height: auto;
    color: var(--fourth);
    font-size: 30px;
    font-family: "GilroyBold";
    position: static;
  }
}
.nice-select {
  &:after {
    display: none;
  }
  .current {
    border-bottom: 1px solid var(--fourth);
    position: relative;
    &:after {
      content: "\e912";
      font-family: "customFont";
      border: none;
      font-size: 12px;
      transform-origin: unset;
      width: initial;
      height: initial;
      transform: translateY(-50%) rotate(90deg);
      margin-top: 2px;
      right: -18px;
      position: absolute;
      top: 50%;
    }
  }
  .list {
    width: 100%;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5);
    border: none;
    max-height: 200px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      background-color: var(--soft-light-pink);
      width: 6px;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
      width: 6px;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--soft-light-pink);
      width: 6px;
      border-radius: 4px;
    }
    .option {
      font-size: 15px;
      font-family: "GilroyMedium";
      padding: 5px 10px;
      &:not(:first-child) {
        border-top: 1px solid var(--soft-light-pink);
      }
      &:hover,
      &.focus {
        background-color: var(--fourth) !important;
        color: var(--white) !important;
      }
      &.selected {
        &.focus {
          background-color: var(--fourth) !important;
          color: var(--white) !important;
        }
      }
    }
  }
  &.counterSelect {
    .list {
      width: calc(100% - 145px);
      @media screen and (max-width: 991.98px) {
        width: 100%;
      }
      .option {
        font-size: 18px;
        padding: 10px 10px;
        letter-spacing: 1.5px;
        @media screen and (max-width: 991.98px) {
          font-size: 14px;
        }
      }
    }
  }
  &.open {
    .current {
      &:after {
        transform: translateY(-50%) rotate(2deg);
      }
    }
  }
}

.filterWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (max-width: 991.98px) {
  }
  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  @media screen and (min-width: 992px) {
    margin-left: auto;
  }
  .filterColumn {
    @media screen and (max-width: 991.98px) {
      width: calc(50% - 17px);
      .customSelect {
        width: 100%;
      }
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      .customSelect {
        width: 100%;
      }
    }
  }
  .nice-select {
    &.customSelect {
      border: none;
      box-shadow: 0 0px 14px rgba(0, 0, 0, 0.3);
      min-width: 250px;
      height: 70px;
      @media screen and (max-width: 576px) {
        height: 50px;
      }
      .current {
        border-bottom: none;
        font-size: 16px;
        font-family: "GilroyMedium";
        color: var(--primary);
        display: flex;
        height: 70px;
        width: 100%;
        align-items: center;
        @media screen and (max-width: 576px) {
          height: 50px;
        }
        &:after {
          content: "";
          border-width: 2px 2px 0 0;
          border-color: #000000;
          border-style: solid;
          width: 8px;
          height: 8px;
          position: absolute;
          transform: rotate(134deg);
          transition: all 0.3s linear;
          right: -20px;
          transform-origin: top;
        }
      }
    }
  }
}
