.form{
    .form-control{
        &.is-invalid{
            border: 1px solid var(--error);
        }
        &.is-invalid ~ .error-message{
            display: block;
        }

    }

    .error-message{
        display: none;
        color: var(--error);
        font-size: 12px;
        font-family: 'GilroySemibold';
    }
}