header{
    position: relative;
    z-index: 99;
    background-color: var(--white);
    padding-bottom: 20px;
    transition: all .3s linear;
    .header{
        display: flex;
        align-items: center;
        gap: 30px;
        .logo{
            display: flex;
            align-items: center;
            gap: 18px;
            span{
                font-weight: 500;
                font-size: 20px;
                color: var(--primary);
            }
        }
        .navbar{
            flex:1;
            background-color: var(--white);
        }
    }
    .searchOpen{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        cursor: pointer;
        transition: all .3s linear;
        .customIcon{
            font-size: 30px;
        }
        @media screen and (min-width:992px) {
            &:hover{
                transform: scale(1.1);
                color: var(--fifth);
            }
        }
    }
    &.fixed{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        box-shadow:0 4px 14px rgba(0,0,0,0.2);
        padding-bottom: 0;

        .navbar-nav {
            .nav-item{
                .nav-link{
                    padding-bottom: 10px;
                }
            }
        }
    }
}