.navbar {
  display: flex;
  align-items: center;

  &-nav {
    display: flex;
    align-items: stretch;

    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
      }
      .nav-link-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      &.dropdown {
        .dropdown-content {
          width: 100%;
          border: 1px solid black;
          position: fixed;
          left: 0;
          //   height: calc(100% - 50px);
          top: 50px;
          background: gray;
      transition: transform 0.3s linear;
        }
      }
    }
  }
  .navbar-collapse {
    &.collapsed {
      @media screen and (max-width: 991.98px) {
        display: none;
      }
    }
    @media screen and (min-width: 992px) {
      margin-left: auto;
    }
    &:not(.collapsed) {
    }
  }
}
@media (hover: hover) and (pointer: fine) {
  .nav-item {
    .dropdown-content {
      transform: translateY(-100%);
      opacity: 0;
      //   height: 0;
      visibility: hidden;
      height: calc(100vh - 50px);
    }
    &.dropdown:hover .dropdown-content {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      //   height: calc(100vh - 50px);
    }
  }
}
@media (hover: none) {
  .nav-item {
    .dropdown-content {
      transform: translateX(100%);
      visibility: hidden;
      opacity: 0;
      height: 100vh;
      transition: left 0.3s linear;
    }
    &.dropdown {
      .menuInput:checked + .dropdown-content {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
