.cards {
  .card {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .card-image-top {
  }
  .card-body {
    background-color: var(--white);
    padding: 25px;
    text-align: center;
    transition: all 0.3s linear;
  }
  .card-title {
    font-family: "GilroySemibold";
    font-size: 30px;
    color: var(--primary);
    transition: all 0.3s linear;
  }
  .card-text {
    font-family: "GilroyMedium";
    font-size: 18px;
    line-height: 32px;
    padding-top: 25px;
    color: var(--primary);
  }
  .card-footer {
    margin-top: auto;
  }
  .card-name {
    font-family: "GilroySemibold";
    font-size: 18px;
    line-height: 30px;
    color: var(--black-800);
    margin-bottom: 5px;
  }
  .card-expert-title {
    font-family: "GilroyRegular";
    font-size: 14px;
    line-height: 20px;
    color: var(--black-800);
  }
  .experts-comments {
    color: var(--gray-400);
    font-family: "GilroyRegular";
    font-size: 13px;
  }
  .icon-arrow-long-right {
    font-size: 32px;
    color: var(--primary);
    position: relative;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.3s linear;
  }
  a {
    &.card {
      transition: all 0.3s linear;
      @media screen and (min-width: 992px) {
        &:hover {
          box-shadow: 0 4px 14px rgba(255, 255, 255, 1);
          transform: scale(1.02);
          .card-body {
            background-color: var(--primary);
          }
          .card-title {
            color: var(--white);
          }
          .card-text {
            color: var(--white);
          }
          .icon-arrow-long-right {
            transform: translateX(10px);
            color: var(--white);
          }
        }
      }
    }
  }
  &.expertsSlider {
    .card {
      background-color: var(--white);
      padding: 30px 30px 25px;
      min-height: 280px;
      text-align: center;
      align-items: center;
      .card-image-top {
        aspect-ratio: 1/1;
        max-width: 120px;
        margin: 0 auto;
        border-radius: 8px;
        overflow: hidden;
      }
      .card-body {
        padding:20px 0;
        background-color: rgba(0, 0, 0, 0);
        text-align: center;

        .card-name{
          color: var(--tertiary);
        }
      }
      .experts-comments{
        color: var(--gray-500);
      }
    }
    a {
      &.card {
        @media screen and (min-width: 992px) {
          &:hover {
            background-color: var(--secondary);
            .card-body {
              background-color: rgba(0, 0, 0, 0);
            }
          }
        }
      }
    }
  }
  &:not(.swiper) {
    display: flex;
    gap: 60px;
    margin-block: 50px;
    &.quad {
      .card {
        width: calc(25% - 52px);
        .card-image-top {
          aspect-ratio: 3/2;
        }
      }
    }
  }
}
