.sectionHead {
  .commentTitle {
    font-size: 40px;
    font-family: "GilroyMedium";
    line-height: 50px;
    color: var(--tertiary);
    @media screen and (max-width: 1600px) {
      font-size: 34px;
      line-height: 44px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 28px;
      line-height: 36px;
    }
    @media screen and (max-width: 991.98px) {
      font-size: 24px;
      line-height: 32px;
    }
    b {
      display: block;
      font-family: "GilroyBold";
    }
  }
  .commentText {
    margin-left: auto;
    font-family: "GilroyMedium";
    font-size: 15px;
    line-height: 30px;
    color: var(--tertiary);
    @media screen and (max-width: 991.98px) {
      margin-left: 0;
    }
    a {
      font-family: "GilroyBold";
      transition: all 0.3s linear;
      @media screen and (min-width: 992px) {
        &:hover {
          color: var(--fifth);
        }
      }
    }
  }
  .textLink {
    font-family: "GilroyBold";
    transition: all 0.3s linear;
    margin-left: auto;
    font-size: 15px;
    line-height: 30px;
    color: var(--tertiary);
    @media screen and (max-width: 576px) {
      margin: 0 auto;
    }
    @media screen and (min-width: 992px) {
      &:hover {
        color: var(--fifth);
      }
    }
  }
}
.commentsSlider {
  @media screen and (min-width: 992px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .swiper-wrapper {
    @media screen and (max-width: 991.98px) {
      margin-bottom: 20px;
    }
  }
  // margin-top: 60px;
  .swiper-slide {
    @media screen and (min-width: 992px) {
      &:nth-child(even) {
        transform: translateY(-20px);
      }

      &:nth-child(odd) {
        transform: translateY(20px);
      }
    }
  }
  .card {
    border-radius: 10px;
    padding: 36px;
    min-height: 450px;
    @media screen and (max-width: 1280px) {
      padding: 20px 16px;
      min-height: 250px;
    }
    @media screen and (max-width: 991.98px) {
      min-height: 280px;
      padding: 20px 16px;
    }
    .card-body {
      background-color: rgba(0, 0, 0, 0);
      padding: 0;

      .card-text {
        position: relative;
        text-align: left;
        color: var(--tertiary);
        padding-top: 0;
        font-family: "GilroyMedium";
        font-size: 17px;
        line-height: 30px;
        @media screen and (max-width: 1280px) {
          font-size: 15px;
          line-height: 24px;
        }
        @media screen and (max-width: 991.98px) {
          font-size: 14px;
        }
        &:after,
        &:before {
          content: "“";
          color: var(--tertiary);
          text-align: left;
          font-family: "GilroyMedium";
          font-size: 35px;
          line-height: 25px;
          display: flex;
          align-items: center;
          @media screen and (max-width: 991.98px) {
            font-size: 26px;
          }
        }
        &:after {
          padding-top: 10px;
        }
      }
    }
    .commentUserName {
      font-family: "GilroyBold";
      font-size: 18px;
      color: var(--tertiary);
      @media screen and (max-width: 991.98px) {
        font-size: 15px;
      }
    }
  }
}

.commentsWrapper {
  position: relative;
  .cards {
    &.cardList {
      gap: 30px;
      .card {
        box-shadow: none;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        text-align: left;
        padding: 30px;
        border-radius: 0;
        &:not(:first-child){
          border-top: 1px solid var(--gray-100);
        }
        .card-body {
          background-color: rgba(0, 0, 0, 0);
          padding: 0;
          .card-text {
            text-align: left;
            position: relative;
            align-items: flex-start;
            padding-top: 0;
            gap: 15px;
            span{
              color: var(--black-800);
            }

            &:after,
            &:before {
              content: "“";
              color: var(--tertiary);
              text-align: left;
              font-family: "GilroyMedium";
              font-size: 35px;
              line-height: 25px;
              display: flex;
              align-items: center;
              @media screen and (max-width: 991.98px) {
                font-size: 26px;
              }
            }
            &:before{
              transform: translateY(15px);
            }
          }
        }
        .card-footer{
          padding-top: 20px;
        }
      }
    }
  }
}
