.customTabWrapper {
  /* Style the tab */
  .tab-nav {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-block: 40px;
    @media screen and (max-width: 991.98px) {
      margin-block: 20px;
    }
    button {
      background-color: var(--white);
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-family: "GilroyMedium";
      font-size: 16px;
      color: var(--soft-light-green);
      border-radius: 15px;
      @media screen and (max-width: 991.98px) {
        padding: 10px 12px;
        font-size: 14px;
      }
      &.active {
        background-color: var(--soft-light-orange);
        color: var(--white);
      }
      @media screen and (min-width: 992px) {
        &:hover {
          background-color: var(--soft-light-orange);
          color: var(--white);
        }
      }
    }
  }

  .tab-contents {
    .tabContent {
      display: none;
      padding: 6px 12px;
      border-top: none;
      .title {
        font-family: "GilroyBold";
        font-size: 18px;
        color: var(--black-900);
        margin-bottom: 10px;
        @media screen and (max-width: 991.98px) {
          font-size: 16px;
        }
      }
      p {
        padding-top: 10px;
        font-size: 16px;
        font-family: "GilroyRegular";
        line-height: 32px;
        color: var(--black-900);
        padding-bottom: 30px;
        @media screen and (max-width: 991.98px) {
          font-size: 14px;
          line-height: 27px;
          padding-top: 5px;
          padding-bottom: 15px;
        }
      }
      .otherInfo {
        display: flex;
        align-items: center;
        font-family: "GilroyBold";
        font-size: 14px;
        color: var(--tertiary);
        margin-top: 10px;
      }
      &.active {
        display: block;
      }
    }
  }
}
