dialog {
  border: none;
  outline: 0;
  padding: 50px 30px;
  max-width: 600px;
  width: 100%;

  &::backdrop {
    background: rgba(0, 0, 0, 0.7);
  }
  .dialogHead {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    &.border-none{
      border: none;
    }
    .dialogTitle {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
    }

    .closeBtn {
      box-sizing: content-box;
      width: auto;
      height: 45px;
      color: #ffffff;
      background: var(--tertiary);
      font-size: 14px;
      border: none;
      border-radius: 6px;
      opacity:1;
      margin-left: auto;
      border: 1px solid var(--tertiary);
      outline: 0;
      padding: 0 14px;
      cursor: pointer;
      position: relative;
      transition: all 0.3s linear;
      right: 0;
      top: 0;
      font-family: 'GilroyMedium';
      @media screen and (min-width: 992px) {
        &:hover {
          background: var(--white);
          color: var(--tertiary);
        }
      }
    }
  }
  .closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    background: var(--fifth);
    opacity: 1;
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 0;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--fifth);
    transition: all 0.3s linear;
    @media screen and (min-width: 992px) {
      &:hover {
        color: var(--fifth);
        background-color: #ffffff;
      }
    }
  }
  .dialogContent {
    flex: 1 1 auto;
    padding: 1rem;
    position: relative;
    p {
      color: #444;
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    }
  }
  .dialogFooter {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    .statusButton {
      width: 100%;
    }
  }
  &.fullScreen {
    max-width: initial;
    height: 100vh;
    max-height: initial;
    // background-color:rgba(234, 244, 117,0.7);
    background-color: rgba(249, 246, 240, 1);
    .dialogTitle {
      color: var(--tertiary);
      font-size: 32px;
    }
    .dialogBody {
      height: 100%;
      display: flex;
    }
    .dialogCenter {
      place-content: center;
      margin: 0 auto;
      width: 100%;
      max-width: 800px;
    }
  }
}
