.expertHead {
  padding: 10px 0;
  .headContainer {
    max-width: 1750px;
    margin: 0 auto;
    width: 100%;

    .icon {
      width: 45px;
      img {
        width: 100%;
        min-width: 100%;
        transition: all 0.3s linear;
      }
      @media screen and (min-width: 992px) {
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .top {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    gap: 30px;
    .title {
      font-size: 24px;
      line-height: 32px;
      color: var(--primary);
      @media screen and (max-width:1680px) {
        font-size: 20px;
        line-height: 27px;
      }
    }
    .category {
      font-family: "GilroyRegular";
      font-size: 14px;
      color: var(--gray-400);
    }
  }
  .expertMenu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 70px;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid var(--gray-100);
    padding-right: 90px;
    transition: all 0.3s linear;
    .allExpertMenu {
      font-size: 14px;
      position: absolute;
      top: 0px;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0 10px 20px;
      background: var(--white);
      font-family: "GilroySemibold";
      color: var(--tertiary);
      transition: all 0.3s linear;
      &:after {
        content: "\e941";
        font-family: "customFont";
        font-size: 24px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s linear;
      }
      &.active {
        color: var(--sixth);
        &:after {
          transform: rotate(180deg);
        }
      }
      @media screen and (min-width: 992px) {
        &:hover {
          color: var(--sixth);
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
    .menu-item {
      height: 50px;
      border: 1px solid var(--gray-100);
      border-radius: 10px;
      font-size: 15px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: "GilroyMedium";
      color: var(--primary);
      transition: all 0.3s linear;
      padding: 0 24px;
      &.active {
        color: var(--white);
        background-color: var(--primary);
        border-color: var(--primary);
      }
      @media screen and (min-width: 992px) {
        &:hover {
          color: var(--white);
          background-color: var(--primary);
          border-color: var(--primary);
        }
      }
    }
    &.opened {
      height: auto;
      overflow: visible;
    }
  }
  &.fixed {
    position: fixed;
    // bottom: 0;
    top: 0;
    width: 100%;
    left: 0;
    background-color: var(--white);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    z-index: 99;
    border-bottom: none;
    padding-bottom: 0;
    padding: 0 50px;
    @media screen and (max-width:1280px) {
      padding: 0;
    }
    
    .top {
      height: auto;
      opacity: 1;
      visibility: visible;
      overflow: visible;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .expertMenu {
      gap: 10px;
      height: 50px;
      padding-left: 72px;
      border-bottom: none;
      padding-bottom: 10px;
      .menu-item {
        height: 40px;
        font-size: 14px;
        padding: 0 14px;
      }
      &.opened {
        height: auto;
      }
    }
    .headContainer {
      padding: 0 50px;
      @media screen and (max-width: 1800px) {
        padding: 0 30px;
      }
      @media screen and (max-width: 768px) {
        padding: 0 16px;
      }
    }
  }
}
