.expertPage {
  padding: 0 50px;
  @media screen and (max-width: 1280px) {
    padding: 0;
  }

  .expertAbout {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: 991.98px) {
      flex-direction: column;
      gap: 20px;
    }
    figure {
      max-width: 420px;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
      aspect-ratio: 1/1;
      @media screen and (max-width: 1600px) {
        max-width: 340px;
      }
      @media screen and (max-width: 1124px) {
        max-width: 260px;
      }
      img {
        width: 100%;
        min-width: 100%;
        object-fit: cover;
        min-height: 100%;
      }
    }
    .expertInfo {
      padding-left: 90px;
      display: flex;
      align-items: flex-start;
      flex: 1;
      @media screen and (max-width: 1124px) {
        flex-direction: column;
        padding-left: 50px;
      }
      @media screen and (max-width: 991.98px) {
        padding-left: 0;
      }
      .items {
        width: 33.3%;
        @media screen and (max-width: 1124px) {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          gap: 45px;
        }
        @media screen and (max-width: 768px) {
          display: block;
        }
        &:not(:first-child) {
          padding-left: 30px;
          @media screen and (max-width: 1124px) {
            padding-left: 0;
          }
        }
        .item {
          padding-bottom: 45px;
          @media screen and (max-width: 768px) {
            padding-bottom: 15px;
          }
          .title {
            font-family: "GilroyBold";
            color: var(--black);
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 4px;
          }
          .desc {
            font-size: 15px;
            color: var(--black);
            font-family: "GilroyRegular";

            ul {
              li {
                padding: 5px 0;
              }
            }
          }
        }
      }
    }
  }
  .aboutDesc {
    .paragraph {
      font-family: "GilroyMedium";
      font-size: 18px;
      line-height: 35px;
      color: var(--black-800);
      @media screen and (max-width: 1600px) {
        font-size: 16px;
        line-height: 27px;
      }
      @media screen and (max-width: 1280px) {
        font-size: 14px;
        line-height: 25px;
      }

      a {
        &:not(.fixBtn) {
          position: relative;
          font-family: "GilroySemibold";
          color: var(--fifth);
          @media screen and (max-width: 991.98px) {
            border-bottom: 1px solid var(--fifth);
          }
          @media screen and (min-width: 992px) {
            &:after {
              content: "";
              border-bottom: 1px solid var(--fifth);
              width: 100%;
              position: absolute;
              bottom: -2px;
              left: 0;
              transition: all 0.3s linear;
            }
            &:hover {
              &:after {
                width: 0;
              }
            }
          }
        }
      }
    }
    .moreAbout {
      font-size: 16px;
      color: var(--secondary);
      margin-top: 20px;
      display: flex;
      align-items: center;
      font-family: "GilroyMedium";
      transition: all 0.3s linear;
      @media screen and (max-width: 1600px) {
        font-size: 14px;
        line-height: 27px;
      }
      @media screen and (min-width: 992px) {
        &:hover {
          color: var(--sixth);
        }
      }
    }
  }
  .paragraph {
    .standartList {
      li {
        font-family: "GilroyMedium";
        font-size: 16px;
        color: var(--black-800);
        padding: 10px 0;
        @media screen and (max-width: 1600px) {
          font-size: 14px;
          line-height: 27px;
        }
        a {
          &:not(.fixBtn) {
            position: relative;
            font-family: "GilroySemibold";
            color: var(--sixth);
            @media screen and (max-width: 991.98px) {
              border-bottom: 1px dotted var(--sixth);
            }
            @media screen and (min-width: 992px) {
              &:after {
                content: "";
                border-bottom: 1px dotted var(--sixth);
                width: 100%;
                position: absolute;
                bottom: -2px;
                left: 0;
                transition: all 0.3s linear;
              }
              &:hover {
                &:after {
                  width: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .adressInfo {
    margin-bottom: 40px;
    .adressName {
      font-family: "GilroyBold";
      font-size: 18px;
      line-height: 25px;
      color: var(--black-800);
      @media screen and (max-width: 1600px) {
        font-size: 16px;
        line-height: 27px;
      }
    }
    .adressLocation {
      font-family: "GilroyMedium";
      font-size: 18px;
      line-height: 30px;
      color: var(--black-800);
      margin-top: 5px;
      @media screen and (max-width: 1600px) {
        font-size: 16px;
        line-height: 27px;
      }
    }
  }
  .info {
    display: flex;
    align-items: center;
    color: var(--soft-orange);
    font-size: 16px;
    line-height: 24px;
    font-family: "GilroySemibold";
    gap: 15px;
  }
  .scrollSection {
    margin-block: 0;
    padding-block: 80px;
    min-height: 70vh;
    @media screen and (max-width: 1600px) {
      padding-block: 50px;
    }
    @media screen and (max-width: 991.98px) {
      padding-block: 30px;
      min-height: initial;
    }
    &:first-child {
      @media screen and (max-width: 991.98px) {
        padding-top: 0;
      }
    }
    &:not(:first-child) {
      border-top: 1px solid var(--gray-100);
    }
    // opacity: 0;
    // visibility: hidden;
    // transform: translateY(30px);
    // transition: all .3s linear;
    // &.inverse{
    //     opacity: 1;
    //     visibility: visible;
    //     transform: translateY(0);
    // }

    .pageRowHead {
      padding-bottom: 30px;
      @media screen and (max-width: 1600px) {
        padding-bottom: 10px;
      }
      .pageRowTitle {
        font-size: 30px;
        font-family: "GilroyBold";
        color: var(--black-800);
        @media screen and (max-width: 1600px) {
          font-size: 25px;
        }
      }
    }
  }
}
