.expertHead {
  padding: 20px 0;
  .headContainer {
    max-width: 1750px;
    margin: 0 auto;
  }
  .top {
    padding-bottom: 15px;
    .title {
      font-size: 30px;
      line-height: 40px;
      color: var(--primary);
    }
    .category {
      font-family: "GilroyRegular";
      font-size: 15px;
      color: var(--gray-400);
    }
  }
  .expertMenu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    .menu-item {
      height: 50px;
      border: 1px solid var(--gray-100);
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: "GilroyMedium";
      color: var(--primary);
      transition: all 0.3s linear;
      padding: 0 24px;
      &.active {
        color: var(--white);
        background-color: var(--primary);
        border-color: var(--primary);
      }
      @media screen and (min-width: 992px) {
        &:hover {
          color: var(--white);
          background-color: var(--primary);
          border-color: var(--primary);
        }
      }
    }
  }
  &.fixed {
    position: fixed;
    // bottom: 0;
    top: 86px;
    width: 100%;
    left: 0;
    background-color: var(--white);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    z-index: 99;
    .headContainer {
      padding: 0 50px;
      @media screen and (max-width: 1800px) {
        padding: 0 30px;
      }
      @media screen and (max-width: 768px) {
        padding: 0 16px;
      }
    }
  }
}
