.howToWorkList{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .listItem{
        display: flex;
        align-items: center;
        border: 1px solid var(--gray-200);
        border-radius: 8px;
        padding: 16px 30px;
        .number{
            font-family: 'GilroySemibold';
            font-size: 40px;
            line-height: 55px;
            color: var(--black-900);
            width: 70px;
            min-width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 30px;
        }
        .desc{
            color: var(--tertiary);
            .title{
                font-family: 'GilroySemibold';
                font-size: 18px;
                line-height: 25px;
            }
            p{
                font-family: 'GilroyRegular';
                font-size: 14px;
                line-height: 28px;
            }
        }
    }
}