.paragraph {
  .imageColumn {
    margin-top: 30px;
    margin-bottom: 40px;
    @media screen and (max-width: 576px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .shorText {
    font-family: "GilroyBold";
    font-size: 24px;
    line-height: 37px;
    color: var(--black-800);
    padding-bottom: 15px;
    @media screen and (max-width: 1600px) {
      font-size: 22px;
      line-height: 35px;
    }
    @media screen and (max-width: 1440px) {
      font-size: 20px;
      line-height: 30px;
    }
    @media screen and (max-width: 991.98px) {
      font-size: 16px;
      line-height: 25px;
    }

    b {
      color: var(--secondary);
    }
  }
  .shortDesc {
    font-family: "GilroyRegular";
    font-size: 18px;
    line-height: 35px;
    color: var(--black-800);
    padding-top: 20px;
    @media screen and (max-width: 1600px) {
      line-height: 30px;
      font-size: 17px;
    }
    @media screen and (max-width: 1440px) {
      line-height: 25px;
      font-size: 16px;
    }
    @media screen and (max-width: 991.98px) {
      font-size: 14px;
      line-height: 25px;
      padding-top: 10px;
    }
    b {
      color: var(--secondary);
      font-weight: normal;
      font-family: "GilroySemibold";
    }
  }
  .longText {
    font-family: "GilroyRegular";
    font-size: 18px;
    line-height: 35px;
    color: var(--black-800);
    padding-top: 20px;
    @media screen and (max-width: 1600px) {
      line-height: 30px;
      font-size: 17px;
    }
    @media screen and (max-width: 1440px) {
      line-height: 25px;
      font-size: 16px;
    }
    @media screen and (max-width: 991.98px) {
      font-size: 14px;
      line-height: 25px;
    }
    @media screen and (max-width: 576px) {
      padding-top: 10px;
    }
  }
  .longText,
  .shortDesc,
  .shorText {
    a {
      &:not(.fixBtn) {
        position: relative;
        font-family: "GilroySemibold";
        color: var(--fifth);
        @media screen and (max-width: 991.98px) {
          border-bottom: 1px solid var(--fifth);
        }
        @media screen and (min-width: 992px) {
          &:after {
            content: "";
            border-bottom: 1px solid var(--fifth);
            width: 100%;
            position: absolute;
            bottom: -2px;
            left: 0;
            transition: all 0.3s linear;
          }
          &:hover {
            &:after {
              width: 0;
            }
          }
        }
      }
    }
    b {
      color: var(--secondary);
      font-weight: normal;
      font-family: "GilroySemibold";
    }
    h2,
    .title {
      font-size: 23px;
      color: var(--primary);
      font-family: "GilroySemibold";
      margin-bottom: 20px;
      margin-top: 40px;
      @media screen and (max-width: 991.98px) {
        font-size: 18px;
        margin-top: 15px;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    h3 {
      font-size: 20px;
      color: var(--secondary);
      line-height: 30px;
      margin-bottom: 10px;
      margin-top: 20px;
      font-family:'GilroySemibold';
    }
    strong {
      font-weight: 600;
      display: block;
    }
    ul,
    ol {
      list-style-type: disc;
      padding-left: 20px;
      margin-top: 20px;
      margin-bottom: 30px;
      li {
        &::marker {
          color: var(--fifth);
          font-size: 20px;
          @media screen and (max-width: 991.98px) {
            font-size: 16px;
            line-height: 25px;
          }
        }
      }
    }
    ol {
      list-style-type: decimal;
      padding-left: 30px;
      li {
        padding-block: 10px;
        &::marker {
          font-family: "GilroySemibold";
        }
      }
    }
  }
}

