.paragraph {
  .shorText {
    font-family: "GilroyBold";
    font-size: 22px;
    line-height: 35px;
    color: var(--black-800);
    padding-bottom: 15px;
    @media screen and (max-width: 991.98px) {
      font-size: 16px;
      line-height: 25px;
    }
    b {
      color: var(--secondary);
    }
  }
  .shortDesc {
    font-family: "GilroyRegular";
    font-size: 18px;
    line-height: 35px;
    color: var(--black-800);
    padding-top: 20px;
    @media screen and (max-width: 991.98px) {
      font-size: 14px;
      line-height: 25px;
      padding-top: 10px;
    }
    b {
      color: var(--secondary);
    }
  }
  .longText {
    font-family: "GilroyRegular";
    font-size: 18px;
    line-height: 35px;
    color: var(--black-800);
    padding-top: 20px;
    @media screen and (max-width: 991.98px) {
      font-size: 14px;
      line-height: 25px;
    }
    b {
      color: var(--secondary);
    }
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    li {
      &::marker {
        color: var(--fifth);
        font-size: 20px;
      }
    }
  }
  .longText,
  .shortDesc,
  .shorText {
    a {
      &:not(.fixBtn) {
        position: relative;
        font-family: "GilroySemibold";
        color: var(--fifth);
        &:after {
          content: "";
          border-bottom: 1px solid var(--fifth);
          width: 100%;
          position: absolute;
          bottom: -2px;
          left: 0;
          transition: all 0.3s linear;
        }
        @media screen and (min-width: 992px) {
          &:hover {
            &:after {
              width: 0;
            }
          }
        }
      }
    }
    h2,
    .title {
      font-size: 23px;
      color: var(--success);
      font-family: "GilroySemibold";
      margin-bottom: 5px;
      margin-top: 20px;
      @media screen and (max-width: 991.98px) {
        font-size: 18px;
        margin-top: 15px;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
