.searchWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media screen and (max-width: 991.98px) {
    gap: 20px;
    height: 100%;
  }
  .searchInputWrapper {
    display: flex;
    align-items: stretch;
    height: 100px;
    @media screen and (max-width: 991.98px) {
      height: 60px;
    }

    input {
      flex: 1;
      padding-left: 12px;
      padding-right: 12px;
      font-size: 24px;
      font-weight: 500;
      background-color: var(--white);
      border-radius: 6px;
      height: 60px;
      transition: all 0.3s linear;
      color: var(--tertiary);
      box-shadow: 0 0px 14px rgba(0, 0, 0, 0.3);
      @media screen and (max-width: 991.98px) {
        height: 45px;
        font-size: 16px;
      }

      &::placeholder {
        color: var(--gray-300);
      }
      &::-moz-placeholder {
        color: var(--gray-300);
      }
      &::-webkit-input-placeholder {
        color: var(--gray-300);
      }
      &:focus {
        height: 100px;
        @media screen and (max-width: 991.98px) {
          height: 60px;
        }
      }
    }
    .searchButton {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--fifth);
      color: var(--white);
      font-size: 16px;
      font-weight: 600;
      width: 80px;
      border-radius: 6px 0 0 6px;
    }
  }
  // .searchInputWrapper:has(input:focus) {
  //   height: 100px;
  // }

  &.type2 {
    width: auto;
    min-width: 400px;
    height: 50px;
    @media screen and (max-width: 991.98px) {
      min-width: initial;
    }
    .searchInputWrapper {
      position: relative;
      height: 50px;
      &:before {
        content: "\e90e";
        font-family: "customFont";
        font-size: 24px;
        color: var(--primary);
        position: absolute;
        left: 10px;
        top: 15px;
      }
      input {
        font-size: 14px;
        padding-left: 40px;
        height: 50px;
        &:focus {
          height: 50px;
        }
      }
    }
  }
}
.searchResult {
  height: 400px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 9;
  @media screen and (max-width: 991.98px) {
    // height: calc(100% - 100px);
    max-height: 300px;
  }
  &::-webkit-scrollbar {
    background-color: var(--gray-200);
    border-radius: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--tertiary);
    border-radius: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--gray-200);
    border-radius: 8px;
    width: 8px;
  }
  .searchBox {
    .searchGroup {
      padding-bottom: 30px;
      padding-right: 10px;
      &:not(:first-child) {
        padding-top: 30px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
      }
    }
    .searchBoxTitle {
      font-size: 20px;
      color: var(--tertiary);
      margin-bottom: 10px;
      font-weight: 600;
      @media screen and (max-width: 991.98px) {
        font-size: 16px;
      }
    }
    .searchList {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .item {
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 20px;
        transition: all 0.3s linear;
        background-color: var(--white);
        box-shadow: 9px 0px 19px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        color: var(--tertiary);
        @media screen and (max-width: 991.98px) {
          padding: 16px;
        }
        .customIcon {
          font-size: 20px;
          @media screen and (max-width: 991.98px) {
            font-size: 16px;
          }
        }

        &:not(:first-child) {
          // border-top: 1px solid rgba(0, 0, 0, 0.05);
        }
        .icon {
          max-width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media screen and (max-width: 991.98px) {
            max-width: 25px;
          }
          img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
          }
        }
        .iconImage {
          width: 50px;
          min-width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          position: relative;
          border: 1px solid rgba(0, 0, 0, 0.05);
          border-radius: 4px;
          overflow: hidden;
          @media screen and (max-width: 991.98px) {
            width: 40px;
            min-width: 40px;
            height: 40px;
          }
          &:after {
            content: "";
            background-image: url("../../images/statics/icons/user-outline.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
            opacity: 0.2;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .desc {
          .name {
            color: var(--tertiary);
            font-size: 16px;
            font-weight: 600;
            transition: all 0.3s linear;
            @media screen and (max-width: 991.98px) {
              font-size: 15px;
            }
          }
          .title {
            color: var(--gray-500);
            font-size: 14px;
            font-weight: 400;
            transition: all 0.3s linear;
            @media screen and (max-width: 991.98px) {
              font-size: 13px;
            }
          }
        }
        @media screen and (min-width: 992px) {
          &:hover {
            background-color: var(--soft-orange);
            color: var(--white);
            .desc {
              .name {
                color: var(--white);
              }
              .title {
                color: var(--white);
              }
            }
            // border-radius: 6px;

            // & + .item{
            //   border-color: rgba(0,0,0,0);
            // }
          }
        }
      }
    }
  }
  li {
    color: var(--white);
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 10px;
    @media screen and (max-width: 991.98px) {
      font-size: 14px;
      margin-bottom: 5px;
    }
    &::marker {
      color: var(--fifth);
      font-size: 20px;
    }

    a {
      font-weight: 600;
      position: relative;
      color: var(--tertiary);
      &:after {
        display: inline-flex;
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px dotted var(--fifth);
        transition: all 0.3s linear;
        left: 0;
        bottom: 0;
      }
      @media screen and (min-width: 992px) {
        &:not(.notHover):hover {
          &:after {
            width: 0;
          }
        }
      }
    }
  }
}
.searchWrapperInline {
  margin-block: 50px;
  padding: 40px 95px;
  @media screen and (max-width: 991.98px) {
    margin-block: 30px;
    padding: 20px 16px;
  }
  .searchHead {
    span {
      font-family: "GilroyMedium";
      font-size: 15px;
      line-height: 22px;
      color: var(--black-800);
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
      }
    }
    .title {
      font-size: 40px;
      line-height: 50px;
      font-family: "GilroySemibold";
      color: var(--primary);
      @media screen and (max-width: 991.98px) {
        font-size: 20px;
        line-height: 27px;
      }
    }
  }
  .searchColumn {
    position: relative;
    margin-top: 35px;
    margin-bottom: 30px;
    @media screen and (max-width: 991.98px) {
      margin-top: 20px;
      margin-bottom: 15px;
    }
    input {
      background-color: var(--white);
      width: 100%;
      height: 80px;
      padding: 0 20px;
      font-size: 16px;
      @media screen and (max-width: 991.98px) {
        height: 60px;
        padding: 0 16px;
        font-size: 13px;
      }
    }
    .searchResult {
      flex-direction: column;
      background-color: var(--white);
      top: calc(100% + 10px);
      position: absolute;
      width: 100%;
      padding: 30px;
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
      @media screen and (max-width: 991.98px) {
        padding: 20px 16px;
      }
      .item {
        &:after {
          display: none;
        }
      }
    }
    .searchBox {
      width: 100%;
    }
    .resultNotFound {
      color: var(--gray-400);
      font-size: 14px;
      font-family: "GilroyRegular";
      b {
        font-family: "GilroySemibold";
      }
    }
  }
}



.resultWrapper{
  text-align: center;
  background-color: var(--soft-light-pink);
  padding: 50px;
  border-radius: 8px;
  p{
    font-size: 18px;
    font-family: 'GilroyMedium';
    b{
      font-family: 'GilroySemibold';
      color: var(--fifth);
      font-size: 24px;
    }
  }
}
.resultCount{
  font-size: 16px;
  font-family: 'GilroyMedium';
  b,
  .count{
    font-size: 20px;
    color: var(--fifth);
    font-family: 'GilroySemibold';
  }
}