section,
.section {
  &:not(:first-child) {
    margin-top: 85px;
    @media screen and (max-width: 991.98px) {
      margin-top: 50px;
    }
  }

  &.featuredSection {
    margin-top: 20px;
    @media screen and (max-width: 991.98px) {
      margin-top: 50px;
    }
  }
  &.pageSection {
    margin-top: 50px;
    @media screen and (max-width: 991.98px) {
      margin-top: 30px;
    }
  }

  .sectionHead {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: 576px) {
      flex-direction: column;
      gap: 10px;
    }
    .sectionTitle {
      font-size: 35px;
      font-family: "GilroyRegular";
      line-height: 55px;
      color: var(--tertiary);
      @media screen and (max-width: 991.98px) {
        font-size: 24px;
        line-height: 32px;
      }
      b {
        font-family: "GilroyBold";
      }
      &.medium {
        font-size: 40px;
        line-height: 55px;
        @media screen and (max-width: 991.98px) {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
    p {
      max-width: 450px;
      font-family: "GilroyMedium";
      font-size: 15px;
      line-height: 25px;
      color: var(--tertiary);

      a {
        position: relative;
        &:after {
          content: "";
          width: 100%;
          border-bottom: 1px solid;
          position: absolute;
          bottom: -1px;
          left: 0;
          transition: all 0.3s linear;
        }
        @media screen and (min-width: 992px) {
          &:hover {
            &:after {
              width: 0;
            }
          }
        }
      }
    }
    .sectionText {
      font-family: "GilroyMedium";
      font-size: 22px;
      color: var(--black);
      text-align: center;
      margin: 0 auto;
      @media screen and (max-width: 991.98px) {
        font-size: 16px;
        line-height: 22px;
      }
      &.type2 {
        @media screen and (max-width: 991.98px) {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }

    .chooseTitle {
      display: flex;
      align-items: center;
      background-color: var(--white);
      border-radius: 0 0 8px 8px;
      padding: 25px 20px;
      @media screen and (max-width: 991.98px) {
      }
      @media screen and (max-width: 576px) {
        padding: 15px 12px;
        width: 100%;
        flex-direction: column-reverse;
        margin-top: 1px;
      }
      & > span {
        font-family: "GilroyBold";
        font-size: 30px;
        color: var(--tertiary);
        @media screen and (max-width: 576px) {
          font-size: 23px;
          text-align: center;
        }
      }
      .customSelect {
        @media screen and (max-width: 576px) {
          font-size: 28px;
          margin-top: 12px;
          padding-left: 0;
        }
        .current {
          @media screen and (max-width: 576px) {
            &:after {
              font-size: 7px;
              right: -13px;
            }
          }
        }
      }
    }
  }
  .sectionContent {
    padding-top: 30px;
    @media screen and (max-width: 991.98px) {
      padding-top: 10px;
    }
  }
}
