.subBanner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 50px;
  height: 250px;
  @media screen and (max-width: 991.98px) {
    padding: 20px 16px;
    height: 200px;
  }
  .title,
  h1 {
    font-family: "GilroySemibold";
    font-size: 40px;
    color: var(--white);
    line-height: 50px;
    @media screen and (max-width: 1600px) {
      font-size: 30px;
      line-height: 40px;
    }
    @media screen and (max-width: 991.98px) {
      font-size: 18px;
      line-height: 25px;
    }
  }
  .breadcrumbWrapper {
    margin-bottom: 30px;
    @media screen and (max-width: 991.98px) {
      margin-bottom: 10px;
    }
    a {
      font-family: "GilroyMedium";
      font-size: 15px;
      color: var(--white);
      line-height: 24px;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: all 0.3s linear;
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
        line-height: 22px;
      }
      .icon-arrow-right {
        font-size: 24px;
        @media screen and (max-width: 991.98px) {
          font-size: 20px;
        }
      }
      @media screen and (min-width: 992px) {
        &:hover {
          color: var(--secondary);
        }
      }
    }
  }
  .desc {
    padding-left: 34px;
  }
  .bottom {
    padding-left: 34px;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
    font-family: "GilroyMedium";
    @media screen and (max-width: 991.98px) {
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
      font-size: 14px;
    }
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      @media screen and (max-width: 991.98px) {
        gap: 5px;
      }
    }
    b {
      font-family: "GilroySemibold";
      font-weight: normal;
      color: var(--gray-200);
      opacity: 0.7;
      @media screen and (max-width: 991.98px) {
        min-width: 80px;
        display: flex;
        align-items: center;
        span {
          margin-left: auto;
        }
      }
    }
    span {
      color: var(--white);
    }
  }
  .buttons {
    margin-top: auto;
    .textLink {
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .textLink {
    font-size: 16px;
    padding-left: 33px;
    @media screen and (max-width: 991.98px) {
      font-size: 14px;
    }
  }
}
