.swiper{
    .swiper-pagination{
        position: relative;
        top: auto;
        bottom: auto;
        .swiper-pagination-bullet{
            background-color: var(--primary);
            width: 20px;
            height:6px;
            border-radius: 4px;
            transition: all .3s linear;
            &.swiper-pagination-bullet-active{
                opacity: 1;
                width: 40px;
            }
        }
    }
}