.testingWrapper {
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  position: relative;
  max-width: 1400px;
  @media screen and (max-width: 1600px) {
    padding-top: 30px;
  }
  @media screen and (max-width: 1280px) {
    padding-top: 0;
  }
  // @media screen and (max-width: 991.98px) {
  //   padding-top: 0;
  // }
  .testingSlider {
    max-width: 1200px;
    @media screen and (max-width: 1280px) {
      padding: 0 50px;
    }
    @media screen and (max-width: 991.98px) {
      padding: 0;
    }
  }
  .swiper-wrapper {
  }
  .testingDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    @media screen and (max-width: 1280px) {
      gap: 10px;
      padding-bottom: 10px;
    }
    @media screen and (max-width: 991.98px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media screen and (max-width: 576px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    .testingTitle {
      font-family: "GilroyBold";
      color: var(--tertiary);
      font-size: 80px;
      line-height: 90px;
      @media screen and (max-width: 1700px) {
        font-size: 70px;
        line-height: 80px;
      }
      @media screen and (max-width: 1600px) {
        font-size: 60px;
        line-height: 70px;
      }
      @media screen and (max-width: 1280px) {
        font-size: 50px;
        line-height: 60px;
      }
      @media screen and (max-width: 991.98px) {
        font-size: 26px;
        line-height: 34px;
      }
    }
    p {
      color: var(--black-700);
      font-size: 22px;
      line-height: 32px;
      font-family: "GilroyMedium";
      max-width: 700px;
      @media screen and (max-width: 991.98px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .fixBtn {
      margin-top: 40px;
      @media screen and (max-width: 1280px) {
        margin-top: 20px;
      }
      @media screen and (max-width: 991.98px) {
      }
    }
  }
}
