.twiceWrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  gap: 30px;
  flex-wrap: wrap;
  @media screen and (max-width: 1280px) {
    margin-top: 0;
    gap: 20px;
  }
  @media screen and (max-width: 991.98px) {
    flex-direction: column;
  }
  figure {
    width: 40%;
    @media screen and (max-width: 991.98px) {
      width: 100%;
    }
    &:last-child {
      margin-left: auto;
      @media screen and (max-width: 991.98px) {
        margin: 0 auto;
      }
    }
  }
  .twiceContent {
    width: 47%;
    padding-right: 3vw;
    @media screen and (max-width: 1280px) {
      padding-right: 0;
    }
    @media screen and (max-width: 991.98px) {
      width: 100%;
      padding-right: 0;
    }
    &:last-child {
      margin-left: auto;
      @media screen and (max-width: 991.98px) {
        margin: 0 auto;
      }
    }
  }
  &.pageTwice {
    padding: 0 50px;
    @media screen and (max-width: 1280px) {
      padding: 0;
    }
    .twiceContent {
      width: 60.5%;
      @media screen and (max-width: 991.98px) {
        width: 100%;
      }
    }
    .twiceOtherContent {
      width: 30%;
      padding-left: 2vw;
      margin-left: auto;
      @media screen and (max-width: 1280px) {
        padding-left: 30px;
        width: auto;
        flex: 1;
      }
      @media screen and (max-width: 991.98px) {
        padding-left: 0;
        width: 100%;
        display: none;
      }
    }
  }
}
.twiceWrapperRevert {
  display: flex;
  align-items: flex-start;
  padding: 0 50px;
  @media screen and (max-width: 1280px) {
    padding: 0;
  }

  .twiceLeftContent {
    width: 300px;
  }
  .twiceRightContent {
    width: calc(100% - 300px);
    padding-left: 3vw;
  }

  .searchWrapper {
    gap: 0;
    .searchInputWrapper {
      height: 50px;
      &:before {
        left: 8px;
        top: 13px;
        font-size: 16px;
      }
    }
    &.type2 {
      min-width: initial;
      width: 100%;
      height: initial;
      input {
        width: 100%;
        height: 50px;
        padding-left: 30px;
        font-size: 14px;
        &:focus {
          height: initial;
        }
      }
    }
  }
}
