.videoWrapper {
  .inlineVideoContainer {
    margin-top: 30px;
    margin-bottom: 40px;
    @media screen and (max-width: 576px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    iframe{
      aspect-ratio: 8/4.5;
    }
    video {
      width: 100%;
    }
  }
}
